body {
  padding-top: 70px;
}

.navbar-inverse {
  background-color: #1659bf;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.jumbotron {
  background-color: #1659bf;
  text-align: left;
  color: #fff;
}

.jumbotron h1 {
  font-size: 3em;
}

.escondido {
  display: none;
}

.smallinput {
  width: 30px;
}

#paginaConfiguracoes {
  text-align: center;
}

table, th, td {
  text-align: center;
}
