body {
  padding-top: 70px;
}

table, th, td {
  text-align: center;
}

.table td, .table th {
    border: none;
}

table.table.table-condensed {
    border: 1px solid #ddd;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.navbar-inverse {
  background-color: #1659bf;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.jumbotron {
  background-color: #1659bf;
  color: #fff;
}

.jumbotron h1 {
  font-size: 3em;
}

.escondido {
  display: none;
}

.smallinput {
  width: 45px;
  height: 25px;
  display: inline-block;
}

#botoesConfiguracao {
  margin: 0 auto;
  width: 253px;
}

#paragrafoConfiguracoes {
  color: #A3A3A3;
}

#inputRemoverEtapasComuns {
  font-size: 11px;
}
